server:
  port: 8081
spring:
  application:
    name: order-service

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

spring:
  cloud:
    sleuth:
      sampler:
        probability: 1.0

management:
  endpoints:
    web:
      exposure:
        include: "*"
